// @import url(//fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
// @import url(//fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700);

$bg: #515151;

body {
    background: $bg;
}

a,
a:visited,
a:hover {
    color: #7ab5cd;
}

a img {
    border: 0;
}

#wrapper {
    width: 960px;
    margin: 0px auto;
}

.page {
    width: 960px;
    position: relative;
}

.header {
    background: transparent;
    position: relative;
    height: 36px;
}

.page.top .header.blank {

}

.page.top .header {
    background: transparent;
    height: 113px;
}

.background-overlay {
    background: url(../images/background-overlay.png);
    position: relative;
}

#logo {
    width: 252px;
    height: 60px;
    background: url(../images/logo.png) center left no-repeat;
    position: absolute;
    left: 17px;
    bottom: 10px;
    line-height: 200px;
    overflow: hidden;
}

#menu {
    position: absolute;
    right: 0;
    bottom: 20px;
}

#menu a {
    font-family: "Open Sans", "Sans Serif";
    font-size: 18px;
    font-weight: 400px;
    line-height: 50px;
    color: #ffffff;
    text-shadow: 1px 1px #333333;
    margin-right: 20px;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.1);
    float: left;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ie-border-radius: 3px;
    border-radius: 3px;
}

#menu a:hover {
    background: rgba(0, 0, 0, 0.3);
    -webkit-animation: menuBounce .4s linear;
    -moz-animation: menuBounce .4s linear;
    -ms-animation: menuBounce .4s linear;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes menuBounce {
    0%{ box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3); opacity:1;}
    25%{ box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3); opacity:1;}
    50%{ box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.3); opacity:1; }
    75%{ box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3); opacity:1;}
    100%{ box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3); opacity:1;}
}

@-moz-keyframes menuBounce {
    0%{ box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3); opacity:1;}
    25%{ box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3); opacity:1;}
    50%{ box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.3); opacity:1; }
    75%{ box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3); opacity:1;}
    100%{ box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3); opacity:1;}
}

@-ms-keyframes menuBounce {
    0%{ box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3); opacity:1;}
    25%{ box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3); opacity:1;}
    50%{ box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.3); opacity:1; }
    75%{ box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3); opacity:1;}
    100%{ box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3); opacity:1;}
}

.page.app .background-overlay {
    height: 225px;
}

.page.app .background {
    height: 85px;
}

.page.app.top .screenshot {
    top: 113px;
}

.page.app .screenshot {
    position: absolute;
    left: 42px;
    top: 36px;
    z-index: 2;
}

.page.app:hover .screenshot {
}

.page.app .description {
    position: absolute;
    left: 290px;
    top: 25px;
    width: 395px;
    font-family: "Lucida Grande", "Arial", "Sans Serif";
    font-size: 13px;
    color: #ffffff;
    text-shadow: 1px 1px #333333;
    text-align: justify;
}

.page.app .app-store-button {
    width: 145px;
    height: 49px;
    background-image: url(../images/app-store-button.png);
    background-position: top left;
    position: absolute;
    left: 289px;
    top: 7px;
}

.page {
    &.blog {
        font-size: 14px;
        line-height: 26px;

        .content {
            background: #fff;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }

        h2 {
            font-size: 22px;
            margin: 0;
        }


        h4 {   
            font-size: 12px;
            color: #aaa;
            margin: 0;
            font-weight: 400;
        }

        pre {
        }

        code {
            display: inline-block;
            font-size: 14px;
            background: #f6f6f6;
            padding: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ie-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            border: 1px solid #ddd;
            box-sizing: border-box;
        }

        pre > code {
            display: block;
            width: 100%;
            padding: 10px;
            overflow-x: auto;
        }
    }

    &.web {
        .content {
            width: 980px;
            padding: 0;
        }

        .tile {
            box-sizing: border-box;
            display: inline-block;
            float: left;
            position: relative;
            z-index: 1;
            width: 470px;
            height: 200px;
            overflow: hidden;
            border: 1px solid rgba(0, 0, 0, 0.9);
            -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
            -ms-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
            margin: 0 20px 20px 0;


            &:before {
                content: " ";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                -webkit-box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.75), inset 0 -2px 5px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.75), inset 0 -2px 5px rgba(0, 0, 0, 0.75);
                -ms-box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.75), inset 0 -2px 5px rgba(0, 0, 0, 0.75);
                box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.75), inset 0 -2px 5px rgba(0, 0, 0, 0.75);
            }

            img {
                -webkit-transition-duration: 500ms;
                -webkit-transition-timing-function: ease-in-out;
                -moz-transition-duration: 500ms;
                -moz-transition-timing-function: ease-in-out;
                -ms-transition-duration: 500ms;
                -ms-transition-timing-function: ease-in-out;
                transition-duration: 500ms;
                transition-timing-function: ease-in-out;

            }

            &:hover {
                img {
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }

                .overlay {
                    opacity: 1;
                }
            }
        }

       .overlay {
            display: table;
            background: rgba(0, 0, 0, 0.7);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-transition-duration: 500ms;
            -webkit-transition-timing-function: ease-in-out;
            -moz-transition-duration: 500ms;
            -moz-transition-timing-function: ease-in-out;
            -ms-transition-duration: 500ms;
            -ms-transition-timing-function: ease-in-out;
            transition-duration: 500ms;
            transition-timing-function: ease-in-out;

            .overlay-wrapper {
                display: table-cell;
                vertical-align: middle;
                padding: 10px;
            }

            .title {
                font-family: "Open Sans";
                font-size: 24px;
                line-height: 24px;
                font-weight: 400;
                color: #fff;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.9);
                margin-bottom: 10px;
                text-align: center;
            }

            .description {
                font-family: "Gentium Book Basic";
                font-size: 18px;
                font-weight: 400;
                color: #fff;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.9);
                text-align: center;
                margin-bottom: 15px;
            }

            .links {
                text-align: center;

                a {
                    font-family: "Open Sans";
                    color: #fff;
                    text-align: center;
                    margin-right: 10px;
                    text-decoration: none;
                    padding: 5px 10px;
                    background: rgba(255, 255, 255, 0.2);
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    border-radius: 3px;

                    &:hover {
                        background: rgba(255, 255, 255, 0.3);
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.page.app .app-store-button:hover {
    background-position: bottom left;
}

.content {
    padding: 20px;
    font-family: "Gentium Book Basic", "Georgia", "Serif";
    font-size: 15px;
    color: #333;
    position: relative;
    text-align: justify;
    float: none;
    clear: both;
    overflow: hidden;
}

#contact {
    position: absolute;
    top: 41px;
    left: 280px;
}

#contact a {
    height: 27px;
    float: left;
    line-height: 100px;
    overflow: hidden;
    background-position: top left;
}

#contact a:hover {
    background-position: bottom left;
}

#contact a.facebook {
    
    background-image: url(../images/facebook.png);
    width: 43px;
}

#contact a.twitter {
    background-image: url(../images/twitter.png);
    width: 36px;
}

#contact a.rss {
    background-image: url(../images/rss.png);
    width: 36px;
}

#contact a.email {
    background-image: url(../images/email.png);
    width: 43px;
}

#footer {
    position: relative;
    margin: 20px 0;
    display: block;
    width: 100%;
    height: 50px;

    .nav-older {
        left: 20px;
    }

    .nav-newer {
        right: 20px;
    }

    .nav-older, .nav-newer {
        position: absolute;
        z-index: 2;

        a {
            display: inline-block;
            font-family: "Open Sans", "Sans Serif";
            font-size: 14px;
            font-weight: 400px;
            color: #ffffff;
            text-shadow: 1px 1px #333333;
            padding: 10px;
            background: rgba(0, 0, 0, 0.1);
            text-decoration: none;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ie-border-radius: 3px;
            border-radius: 3px;

            &:hover {
                background: rgba(0, 0, 0, 0.3);
                -webkit-animation: menuBounce .4s linear;
                -moz-animation: menuBounce .4s linear;
                -ms-animation: menuBounce .4s linear;
                box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
            }
        }
    }

    .copyright {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        display: block;
        text-align: center;
        line-height: 50px;
        font-family: "Open Sans", "Sans Serif";
        color: #fff;
        font-size: 16px;
        font-weight: 400;

        a {
            font-family: "Open Sans", "Sans Serif";
        }
    }
}

div.imgwrapper {
    display: block;
    float: none;
    clear: both;
    width: 100%;
}

img.alignleft {
    float: left;
    margin-right: 5px;
}

.content.game img {
    margin-right: 20px;
    float: left;
}

.content.game img.first {
}

.content.game img.last {
    margin-right: 0px;
}

.content.game h2 {
    float: none;
}

.content.game h2 a {
    display: block;
    width: 100px;
    height: 20px;
    font-family: "Lucida Grande", Arial, "Sans Serif";
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
    text-shadow: #000 -1px -1px;
    background: url(../images/games-button.png);
    margin-left: 4px;
    float: left;
}

.content.game h2 a:hover{
    background-position: bottom left;
}

.content.game h2 .buttons {
    position: absolute;
    right: 20px;
    top: 20px;
}

.hljs {
    display: block; padding: 0.5em;
    background: #F0F0F0;
}

.hljs, .hljs-subst, .hljs-tag .hljs-title, .lisp .hljs-title, .clojure .hljs-built_in, .nginx .hljs-title {
    color: black;
}

 .hljs-string, .hljs-title, .hljs-constant, .hljs-parent, .hljs-tag .hljs-value, .hljs-rules .hljs-value, .hljs-rules .hljs-value .hljs-number, .hljs-preprocessor, .hljs-pragma, .haml .hljs-symbol, .ruby .hljs-symbol, .ruby .hljs-symbol .hljs-string, .hljs-aggregate, .hljs-template_tag, .django .hljs-variable, .smalltalk .hljs-class, .hljs-addition, .hljs-flow, .hljs-stream, .bash .hljs-variable, .apache .hljs-tag, .apache .hljs-cbracket, .tex .hljs-command, .tex .hljs-special, .erlang_repl .hljs-function_or_atom, .asciidoc .hljs-header, .markdown .hljs-header, .coffeescript .hljs-attribute {
    color: #800;
}

.smartquote, .hljs-comment, .hljs-annotation, .hljs-template_comment, .diff .hljs-header, .hljs-chunk, .asciidoc .hljs-blockquote, .markdown .hljs-blockquote {
    color: #888;
} 

.hljs-number, .hljs-date, .hljs-regexp, .hljs-literal, .hljs-hexcolor, .smalltalk .hljs-symbol, .smalltalk .hljs-char, .go .hljs-constant, .hljs-change, .lasso .hljs-variable, .makefile .hljs-variable, .asciidoc .hljs-bullet, .markdown .hljs-bullet, .asciidoc .hljs-link_url, .markdown .hljs-link_url {
    color: #080;
}

.hljs-label, .hljs-javadoc, .ruby .hljs-string, .hljs-decorator, .hljs-filter .hljs-argument, .hljs-localvars, .hljs-array, .hljs-attr_selector, .hljs-important, .hljs-pseudo, .hljs-pi, .haml .hljs-bullet, .hljs-doctype, .hljs-deletion, .hljs-envvar, .hljs-shebang, .apache .hljs-sqbracket, .nginx .hljs-built_in, .tex .hljs-formula, .erlang_repl .hljs-reserved, .hljs-prompt, .asciidoc .hljs-link_label, .markdown .hljs-link_label, .vhdl .hljs-attribute, .clojure .hljs-attribute, .asciidoc .hljs-attribute, .lasso .hljs-attribute, .coffeescript .hljs-property, .hljs-phony {
    color: #88F
}

.hljs-keyword, .hljs-id, .hljs-title, .hljs-built_in, .hljs-aggregate, .css .hljs-tag, .hljs-javadoctag, .hljs-phpdoc, .hljs-yardoctag, .smalltalk .hljs-class, .hljs-winutils, .bash .hljs-variable, .apache .hljs-tag, .go .hljs-typename, .tex .hljs-command, .asciidoc .hljs-strong, .markdown .hljs-strong, .hljs-request, .hljs-status {
    font-weight: bold;
}

.asciidoc .hljs-emphasis, .markdown .hljs-emphasis {
    font-style: italic;
}

.nginx .hljs-built_in {
    font-weight: normal;
}

.coffeescript .javascript, .javascript .xml, .lasso .markup, .tex .hljs-formula, .xml .javascript, .xml .vbscript, .xml .css, .xml .hljs-cdata {
    opacity: 0.5;
}