<div id="header">
	<div class="wrapper">
		<img id="hamburger" src="images/hamburger.svg">

		<a href="{{site.url}}" class="logo">
			<img src="/images/logo.svg" alt="Collective Cognition logo">
		</a>
						
		<div id="menu">
			<a class="button" href="/">blog</a>
			<a class="button" href="/web">web</a>
			<a class="button" href="/games">games</a>
			<a class="button img no-pad-bottom octocat" href="http://github.com/collectivecognition?tab=repositories">
				<img src="/images/octocat.svg">
			</a>
			<a class="button img" href="https://www.linkedin.com/in/wblanchette">
				<img src="/images/linkedin.svg">
			</a>
		</div>
	</div>
</div>