---
layout: default
---
		<div class='page white top'>
			
			<div class='header'>
			
				<a href='http://collectivecognition.com' id='logo'>Collective Cognition</a>
								
				<div id='menu'>
				
					<a href='/'>blog</a>
					<a href='/apps'>apps</a>
				
				</div>
				
			</div>
			<div class='background'>
			
				<div class='content'>
					
					<h2></h2>
					<hr />
					<h4><em>Posted on {{site.posts[0].date}} by William Blanchette</em></h4>
					
					{{site.posts[0].content}}
				
				</div>
			
			</div>
			<div class='footer'>
			</div>
			<div id="post-nav">
			</div>